*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

header {
    background-color: blue;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: red;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    flex-grow: 1;
    display: flex;
}

main {
    background-color: orange;
    flex-grow: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    background-color: greenyellow;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: green;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:500px) {
    div {
        flex-direction: column;
    }
}